body{
    background: skyblue;
}

.imgBox{
    background-image: url('./nature.jpg');
    background-size: cover;
    position: relative;
    top: 25px;
    left: 25px;
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.whiteBox{
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: slategray;
    border: 3px black solid;
}

.hold{
    border: solid red 4px;
}

.dashed{
    background: rgb(214, 206, 206);
    border-style: dashed;
}

.hide{
    display: none;
}
